@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
}
:root{
    --morado:#8B48BF;
}

/*Header-----------------------------------------------------------------------*/
#titulo{
    visibility: hidden;
    width: 0;
}
header{
    align-items: center;
    display: flex;
    height: 15vh;
    justify-content: space-between;
    padding: 0 0 0 8vw;
    width: auto;
}

header div{
    align-items: center;
    display: flex;
}
.menu{
    align-items: center;
    display: flex;
    list-style: none;
}

.menu li{
    font-size: 0.8rem;
    margin: 0 1.5rem;
}

.menu li a{
    color: #242E52;
    text-decoration: none;
}

/*Usando pseudoselectores y keyframes*/
.menu li:nth-child(3){
    animation: colores 10s infinite;
    border-radius: 10%;
}

.logo{
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: flex-end;
    width: 12%;
}
.empezar{
    background-color: var(--morado);
    border: none;
    border-radius: 60px;
    box-shadow: 0 0.2rem 0.4rem rgba(85, 85, 85, 0.466);
    color: white;
    font-size: 12px;
    height: 50%;
    width: 100%;
}

.menuMobile img{
    visibility: hidden;
}


/*Uso de pseudoclases*/
a:hover,
button:hover{
    cursor: pointer;
    opacity: 50%;
}

/*Parte principal--------------------------------------------------------------------------*/

/*Estilos generales------------------*/
main{
    height: auto;
    padding: 0 8vw;
}
section{
    height: 85vh;
    margin-bottom: 3%;
}
h2{
    font-weight: 700;
}
p{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

span{
    color: #B3B2B7;
    font-size: 0.9rem;
    line-height: 1.8rem;
}

/*Primera seccion--------------------*/
.datos-iniciales{
    align-items: center;
    display: flex;
}
.estadisticas, 
.descripcion{
    display: flex;
    height: 90%;
    margin-top: 2rem;
    width: 50%;
}

.descripcion{
    flex-direction: column;
    justify-content: center;
}
.descripcion h2{
    font-size: 3.5rem;
    margin-top: 10%;
    width: 80%;
}

.descripcion p{
    width: 60%;
}

.descripcion p, button{
    margin-top: 6%;
}

.boton{
    align-items: flex-start;
    display: flex;
    height: 100%;
}
.empezar-1{

    animation: movimiento 4s infinite;
    background-color: var(--morado);
    border: none;
    border-radius: 60px;
    color: white;
    font-size: 12px;
    height: 50px;
    width: 150px;
}

.estadisticas{
    justify-content: center;
}
.estadisticas img{
    height: 110%;
}

/*Segunda seccion--------------------*/
.diferencias, 
.testimonios-div-1, .testimonios-div-2, .testimonios-div-3{
    align-items: center;
    display: flex;
    justify-content: center;
}

.diferencias h2, 
.testimonios-container h2{
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.diferencias p{
    width: 70%;
}

.numeral-difer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}
.numero{
    align-items: center;
    background-color: var(--morado);
    border-radius: 3rem;
    color:white;
    display: flex;
    font-weight: bold;
    height: 2.8rem;
    justify-content: center;
    width: 4.4rem;
}

.texto-difer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 70%;
}

.texto-difer h4{
    margin-bottom: 0.5rem;
}
.fondo-numero{
    display: flex;
    flex-direction: column;
    width: 10%;
}
.texto-mobile{
    visibility: hidden;
}

/*Tercera seccion--------------------*/
.testimonios{
    align-items: baseline;
    display: flex;
}

.testimonios-container h2{
    text-align: center;
}

.testimonios-div-1, .testimonios-div-2, .testimonios-div-3{
    flex-direction: column;
}

.tarjetas{
    align-items: center;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: flex-end;
    padding: 0 8% 8% 8%;
    text-align: center;
}
.tarjetas h3{
    margin-bottom: 5%;
}

.avatar{
    position: relative;
    top: 1rem;
    width: 25%;
}
.boton-2{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    width: 100%;
}


/*Footer--------------------------------------------------------------*/
/*Seccion get-started---------------*/

.get-started{
    align-items: center;
    background-color:var(--morado);
    color: white;
    display: flex;
    font-size: 1.5rem;
    height: 30vh;
    justify-content: space-between;
    margin: 0;
    padding: 0 8vw;
}
.get-started h2{
    width: 40%;
}

.boton-footer{
    align-items: center;
    display: flex;
    height: 50%;
    justify-content: flex-end;
    width: 20%;
}
.empezar-2{
    background-color:white ;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 0.2rem 0.4rem rgba(85, 85, 85, 0.466);
    color: var(--morado);
    font-size: 0.7rem;
    height: 50px;
    width: 150px;
    
}


/*Container footer-------------------*/
.container-footer{
    align-items: center;
    background-color: #1E1E26;
    display: flex;
    height: 30vh;
    justify-content: space-between;
    padding: 2% 8vw;
}
.logos,
.footer-form,
.footer-list, .listas{
    display: flex;
    height: 70%;
}
.redesSociales{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.listas{
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
.footer-list li a{
    color: white;
    text-decoration: none;
}

.logos,
.footer-form{
    flex-direction: column;
    justify-content: space-between;
}

.footer-list{
    align-items: center;
    justify-content: center;
}

.footer-list ul{
    color: white;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 2rem;
    list-style: none;
}
.footer-list li:nth-child(2){
    animation: colores 10s infinite;
    border-radius: 10%;
}

.footer-form{
    width: 20%;
}
.footer-form input,
.footer-form button
{
    border: none;
    border-radius: 2rem;
    font-size: 0.7rem;
    height: 6vh;
}

.footer-form input{
    width: 70%;
}

.footer-form button{
    background-color: var(--morado);
    color: white;
    margin-left: 2%;
    width: 25%;
}

.derechos{
    display: flex;
    justify-content: flex-end;
}
.derechos h6{
    color: #8C8C94;
    font-size: 0.6rem;
}

.derechos-mobile h6{
    font-size: 0px;
}

/*Animación--------------------------------------*/
@keyframes colores {
    0%{background-color: var(--morado); opacity: 70%;}
    25%{background-color: #5a2e7c96;}
    50%{background-color: rgba(15, 104, 42, 0.555); text-decoration:underline;}
    75%{background-color: rgba(35, 136, 102, 0.663);}
}
@keyframes movimiento {
    50%{transform: translateX(-20px);}
    100%{transform: translateX(20px);}
    
}
/*Media queries----------------------------------*/
@media (max-width:480px){
    /*Header------------------------------------*/
    header{
        padding: 0 8vw;
    }

    .menu,
    .logo{
        max-width: 0;
        visibility: hidden;
    }
    .menuMobile img{
        visibility: visible;
    }
    /*Main--------------------------------------*/
    main{
        padding-right: 0;
    }
    section{
        height: auto;
        margin-bottom: 30%;
    }
    /*Primera seccion*/
    .datos-iniciales{
        padding-right:8vw;
    }
    .descripcion h2{
        text-align: center;
    }
    
    .descripcion p{
        margin-bottom: 5%;
        text-align: center;
        width: 100%;
    }
    .datos-iniciales,
    .diferencias, 
    .testimonios-container,
    .numeral-difer{
        flex-direction: column;
    }
    .estadisticas, 
    .descripcion{
        align-items: center;
        height: 50%;
        width: 100%;
    }
    .descripcion h2{
        font-size: 40px;
        max-width: 80%;
    }
    .estadisticas{
        order: -1;
    }
    .estadisticas img{
        height: 100%;
        width: 100%;
    }

    /*Segunda seccion*/
    .diferencias h2{
        margin-bottom: 10%;
    }
    .diferencias p,
    .diferencias h2,
    .texto-difer{
        text-align: center;
    }
    .diferencias-head{
        padding-right:8vw;
    }
    .diferencias p{
        margin-bottom: 10%;
        width: 100%;
    }
    .fondo-numero{
        align-items: center;
        background-color: rgba(139, 72, 191, 0.3);
        border-radius: 3rem 0 0 3rem;
        flex-direction: row;
        width: 100%;
    }
    .texto-difer{
        width: 100%;
    }
    .texto-web{
        visibility: hidden;
    }
    .texto-mobile{
        text-align: center;
        visibility: visible;
        width: 100%;
    }
    
    /*Tercera seccion*/
    .testimonios-container{
        padding-right:8vw;
    }

    .testimonios-div-1, .testimonios-div-3{
        visibility: hidden;
        width: 0%;
    }

    /*Footer--------------------------------------*/
    .get-started{
        flex-direction: column;
        height: 50vh;
        justify-content: center;
    }
    .get-started h2{
        margin-top: 5%;
        text-align: center;
        width: 80%;
    }
    .boton-footer{
        height: 40%;
        justify-content: center;
        width: 80%;
    }  
    .container-footer{
        flex-direction: column;
        height: 70vh;
        justify-content: space-between;
    }
    .logos{
        align-items: center;
        height: 30%;
        margin-bottom: 5%;
        order: 1;
        width: 100%;
    }
    .logoF{
        width: 30%;
    }

    .redesSociales{
        order: -1;
        width: 100%;
    }

    .listas{
        width: 100%;
    }
    .footer-form{
        height: 20%;
        order: -1;
        width: 100%;
    }
    .derechos{
        height: 0%;
    }
    .derechos h6{
        font-size: 0px;
    }
    .derechos-mobile{
        align-items: center;
        background-color: #1E1E26;
        display: flex;
        justify-content: center;
        padding-bottom: 6%;
    }
    .derechos-mobile h6{
        color: #8C8C94;
        font-size: 0.6rem;
        text-align: center;
    }
}